.info-section {
  padding: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.164)), url('/Media/backround.jpg');
  color: white;
  width: 105%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  overflow: hidden;
  justify-self: center;
  margin-top: 100px;
  border: 2px solid #0eb5f1;
}

.info-section h2 {
  font-size: 1.9rem;
  margin: 0 0 20px 0;
  color: #00ffdd;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 700;
}

.info-section img {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 200px;
  border-radius: 50%;
  border: 4px solid #00ffdd;
}

/* Optional: if you want extra styling hooks */

